body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3b5b7b;
}
form {
	width: 425px;
	height: 261px;
	margin: 180px auto 0 auto;
	background: url(/img/loginBackground.gif);
	position: relative;
}
fieldset {
	margin: 0;
	padding: 100px 30px 0;
	border: none;
}
h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 17px;
	right: 15px;
	color: #84bcf6;
	font-size: 17px;
	text-transform: uppercase;
}
h2 {
	font-size: 16px;
	color: #ffffff;
	background: url(/img/bullet4.gif) 0 0 no-repeat;
	padding: 5px 0 5px 33px;
	margin: 0;
	position: absolute;
	top: 12px;
	left: 10px;
}
label {
	width: 365px;
	display: block;
	margin: 0 0 10px;
	height: 100%;
	overflow: hidden;
}
label.short {
	width: 250px;
	display: block;
	margin: 0 0 10px;
	height: 100%;
	overflow: hidden;
}
label input {
	border: 1px solid #bdccd9;
	font-size: 13px;
	font-weight: bold;
	width: 200px;
	padding: 4px;
	margin: 0;
	float: left;
}
label input:focus {
	border: 1px solid #496886;
}
label span {
	float: left;
	width: 90px;
	padding: 5px 10px;
	text-align: right;
	font-weight: bold;
}
select {
	padding: 3px;
	border: 1px solid #DAE1E7;
}
input {
	float: right;
	margin: 0 45px 0 0;
	display: inline;
}
/* input {
	float: right;
	margin: -35px 45px 0 0;
	display: inline;
}
input.submitLogin {
	float: left;
	margin: 0 0 0 110px;
	display: block;
} */
a {
	position: absolute;
	bottom: 14px;
	right: 20px;
	color: #3b5b7b;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}